body {
  background-image: url('http://t.wallpaperweb.org/wallpaper/miscellaneous/1920x1200/HD_picture_of_orginal_roulette.jpg')
}

#cont {
  /* border: 2px solid white; */
}

#contt {
  /* border: 2px solid rgb(167, 9, 9); */
  width: 50%;
  padding: 30px;
  margin-left: 250px;
  border-radius: 20px;
  background-color: rgb(105, 35, 35);
}

#conttt {
  border: 2px solid white;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
}

#but {
  width: 100%;
}

#bang {
  margin-top: 100px;
}